.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
  width: 100%;
  flex-grow: 1;
  margin: 0;
  z-index: 1;
  padding-bottom: 5vh;

  .App-header-input {
    color: white;
    width: 100%;
    font-size: 5vw;
    text-align: center;
    border: none;
    background: transparent;
  }
}
