.Timer {
  align-items: center;
  color: white;
  cursor: default;
  display: flex;
  font-family: 'Oxygen Mono';
  font-size: 34vw;
  height: 35vw;
  justify-content: center;
  width: 100%;

  .Timer-minutes {
    background: transparent;
    border: none;
    color: white;
    font-size: 34vw;
    width: 40vw;
  }
}
