$timer-font-size: 35vw;

.Timer {
  color: white;
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: 'Oxygen Mono';
  width: 100%;

  .Timer-times {
    font-size: $timer-font-size;
    line-height: $timer-font-size;

    &.is-close {
      color: #f9aa8f;
    }

    &.is-finished {
      color: #c25c55;
    }

    .Timer-minutes {
      // this is an input
      background: transparent;
      border: none;
      font-family: 'Oxygen Mono';
      color: inherit;
      font-size: $timer-font-size;
      width: 42vw;
      line-height: $timer-font-size;
    }

    .Timer-spacer {
      margin-left: -5vw;
      margin-right: -5vw;
    }
  }

  .Timer-actions {
    bottom: 0;
    right: 0;
    left: 0;
    padding: 2vw;
    position: absolute;
    display: flex;
    justify-content: center;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .Timer-action {
    font-size: 3vw;
    padding: 1.2vw 3vw;
    margin: 0 0.5vw 0 0.5vw;
    border-radius: 0.5vw;
    border: none;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 10vw;

    &.action-reset {
      .symbol {
        font-size: 4vw;
        line-height: 2.5vw;
      }
    }
  }
}
